    --color-blue: #007BB6;
    --color-blue-dark: #005D8A;
    --color-black: #333333;
    --color-cloud-light: #FAFAFA;
    --color-cloud: #F7F7F7;
    --color-cloud-dark: #f1f1f1;
    --color-orange: orange;
    --color-white: #FFFFFF;
    --color-grey: #B0B0B0;
    --color-red: #A82255;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 1rem;
    --size-md: 1.5rem;
    --size-lg: 2rem;
    --size-xl: 3rem;
    --size-xxl: 4rem;
    --size-xxxl: 6rem;
    --breakpoint-small-desktop: 1260px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    color: var(--color-grey);
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    max-width: 1260px;
    margin: 0 auto;
    padding-left: var(--size-md);
    padding-right: var(--size-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;