@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --max-width: 760px;
    --bg-color: white;
    --code-font-size: 15px;
    --text-font-size: 16px;
    --medium-text-font-size: 18px;
    --color-blue: #007BB6;
    --code-padding: 10px;
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

h1 {
    margin-bottom: 1.5rem;
}

a:hover {
    text-decoration: underline;
}


.sidebar-sticky {
    padding: 10px;
}

.home {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 10px;
}

.page-detail{
    max-width: 760px;
    margin: 0 auto;
    width: 95%;
    padding: 0 8px;
}

.wrapper{
    margin-top: 15px;
    margin-bottom: 4em;
    padding-bottom: 4em;
}


body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.6;
    font-size: var(--text-font-size);
}

@media (min-width: 768px) {
    body{
        font-size: var(--medium-text-font-size);
    }
}

@media (min-width: 768px) {
    .page-detail{
        width: 90%;
    }
    .sidebar-sticky {
        position: fixed;
        top: 0;
        right: 0;
        width: 35%;
        max-width: 350px;
        border-left: 1px solid rgba(212, 200, 200, 0.526);
        height: 100%;
    }
}

.link {
    color: black;
}

.dateTime {
    font-weight: 400;
    color: gray;
}


body {
    background-color: var(--bg-color);
}

.highlight {
    font-size: var(--code-font-size);
}

pre{
    margin: 0;
}

.lntable td:first-child pre {
    padding: var(--code-padding) 0 var(--code-padding) var(--code-padding);
}

.highlight pre {
    padding: var(--code-padding) var(--code-padding) var(--code-padding) 0;
}

@media (max-width: 768px) { 
    h1{
        font-size: 25px;
    }
  .highlight, 
  .highlight pre,
  .highlight .chroma code {
    overflow-x: auto; 
    /* white-space: pre;  */
  }
}
