<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ block "title" . }}<title>{{ .Title }}</title>{{ end }}
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="stylesheet" href="./public/css/syntax.css">
    <meta property="og:type" content="article">
	{{ block "meta" . }} <meta name="description" content="{{ .Site.Params.description }}"> {{ end }}
	{{ block "meta-author" . }}<meta name="author" content="{{ .Site.Params.author }}">{{ end }}
</head>
<body>
{{ partial "navbar" . }}
        <div style="padding-top: 60px; min-height: 85vh;">
        {{ block "main" . }}
        {{ end }}
        </div>
{{ partial "footer" . }}
</body>
</html>