{{ define "title" }}
<title>Lumberj3ck blog</title>
{{ end }} 
{{ define "main" }}
<div class="page-detail">
  {{ range where .Site.RegularPages "Section" "posts" }}
  <br/>
  <h2>
  <a href="{{ .RelPermalink }}" class="link">{{ .Title }}</a>
  </h2>
    <div class="dateTime">
    <strong>Published</strong>
    <time>{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time >
    </div>
  <div>
  {{ .Page.Params.summary }} 
  <a href="{{ .RelPermalink }}">Read more...</a>
    </div>
  <br />
  {{ end }}
  <br />
</div>
{{ end }}
