{{ define "meta"  }} <meta name="description" content="Browse my archive of blog posts. Find in-depth articles, helpful guides, and the latest news on python and go."> {{ end }}
{{ define "main" }}
<div class="page-detail" style="margin-top: 35px;">
  {{ range .Data.Pages.GroupByDate "2006" }}
  <h4>{{ .Key }}</h4>
  <ul>
    {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <span class="dateTime" style="margin-left: 15px;">
        <time >{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time >
        </span>
    </li>
    {{ end }}
  </ul>
  {{ end }} 
</div>
</div>
{{ end }}
