<footer class="bg-white rounded-lg shadow dark:bg-gray-800 footer-main">
    <div class="w-full mx-auto max-w-screen-xl md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© <span id="year"></span>
            <a href="/" class="hover:underline footer_link">Lumberj3ck™</a>. All
            Rights Reserved.
        </span>
        <script>
            document.getElementById('year').textContent = new Date().getFullYear();
        </script>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
            style=" list-style: none; margin: 0; padding: 0">
            <li>
                <a href="https://opensource.org/license/MIT"
                    class="hover:underline me-4 md:me-6 footer_link">Licensing</a>
            </li>
            <li>
                <a href="https://github.com/Lumberj3ck/" class="hover:underline me-4 md:me-6 footer_link">Github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/lumberj3ck/" class="hover:underline footer_link">LinkedIn</a>
            </li>
        </ul>
    </div>
    <style>
        .footer-main {
            max-width: 760px;
            margin: 1rem auto;
            padding: 8px;
        }

        .footer_link {
            color: inherit;
            text-decoration: inherit
        }

        .m-4 {
            margin: 1rem
        }

        .mx-auto {
            margin-left: auto;
            margin-right: auto
        }

        .me-4 {
            margin-inline-end: 1rem
        }

        .mt-3 {
            margin-top: 0.75rem
        }

        .flex {
            display: flex
        }

        .w-full {
            width: 100%
        }

        .max-w-screen-xl {
            max-width: 1280px
        }

        .flex-wrap {
            flex-wrap: wrap
        }

        .items-center {
            align-items: center
        }

        .rounded-lg {
            border-radius: 0.5rem
        }

        .bg-white {
            --tw-bg-opacity: 1;
            /* background-color: rgb(255 255 255 / var(--tw-bg-opacity)) */
            background-color: var(--bg-color);
        }

        .p-4 {
            padding: 1rem
        }

        .text-sm {
            font-size: 0.875rem;
            line-height: 1.25rem
        }

        .font-medium {
            font-weight: 500
        }

        .text-gray-500 {
            --tw-text-opacity: 1;
            color: rgb(107 114 128 / var(--tw-text-opacity))
        }


        .hover\:underline:hover {
            -webkit-text-decoration-line: underline;
            text-decoration-line: underline
        }

        @media (min-width: 640px) {
            .sm\:mt-0 {
                margin-top: 0px
            }

            .sm\:text-center {
                text-align: center
            }
        }
        @media (max-width:768px){
            .footer-main{
                width: 90%;
            }
        }

        @media (min-width: 768px) {
            .md\:me-6 {
                margin-inline-end: 1.5rem
            }

            .md\:flex {
                display: flex
            }

            .md\:items-center {
                align-items: center
            }

            .md\:justify-between {
                justify-content: space-between
            }
        }
    </style>
</footer>